/* Estilos personalizados para a página de Galeria de quartos Dev André */
.room-card {
    position: relative;
    overflow: hidden;
}

.room-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.room-price {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-back {
    margin-top: 20px;
}

body, html {
    height: 100%;
    overflow: -moz-hidden-unscrollable;
}

body {
    margin: 0;
    background-image: -o-linear-gradient(rgb(53, 6, 6), rgb(12, 12, 54));
    background-image: linear-gradient(to right, #F04D8B, rgb(240, 79, 139), #F37176, rgb(243, 124, 112), rgb(245, 172, 85), #F8BC4D);
}

.carousel-item img {
    height: 400px;
    /* Aumentando a altura das imagens */
    width: 100%;
    object-fit: cover;
    border: 8px solid #d0cbcb;
    border-radius: 40px;
}

.carousel {
    max-width: 600px;
    /* Aumentando a largura dos carrosséis */
    margin: 0 auto;
}

h1 {
    color: #ffffff;
}

.form-label, .form-control {
    color: #ffffff;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    /* Centraliza o grupo de botões horizontalmente */
    margin-top: 10px;
    padding: 10px 10px;
    /* Ajuste o padding do botão de reservar */
    font-size: 30px;
    /* Ajuste o tamanho da fonte do botão reservar */
    background-image: linear-gradient(to left, rgba(209, 5, 5, 0.548), rgba(2, 0, 139, 0.788), rgb(240, 79, 139), rgb(243, 124, 112), rgb(245, 172, 85));
    color: rgb(12, 12, 54);
}

.btn-outline-success {
    background-image: linear-gradient(to left, rgba(209, 5, 5, 0.548), rgba(2, 0, 139, 0.788), rgb(240, 79, 139), rgb(243, 124, 112), rgb(245, 172, 85));
    color: rgb(12, 12, 54);


}

.btn-1 {
    margin-top: 10px;
    padding: 10px 10px;
    /* Ajuste o padding do botão de reservar */
    font-size: 80px;
    /* Ajuste o tamanho da fonte do botão reservar */
}

.logo-container {
    text-align: center;
    margin-top: 20px;
}

.logo {
    max-width: 150px;
}

.nav-link {
    color: white;
    font-size: 28px;
}

.nav-item {
    color: rgb(11, 143, 138);
}

.container-navbar {
    background-image: -o-linear-gradient(rgb(53, 6, 6), rgb(12, 12, 54));
    background-image: linear-gradient(rgb(53, 6, 6), rgb(12, 12, 54));
}

.container-fluid {
    background-image: -o-linear-gradient(rgb(53, 6, 6), rgb(12, 12, 54));
    background-image: linear-gradient(to left, rgba(209, 5, 5, 0.548), rgba(2, 0, 139, 0.788));
}

.room-card img {
    border: 8px solid #bdbaba;
    border-radius: 10px;
}

.carousel-button {
    display: block;
    margin: 10px auto 20px auto;
    width: fit-content;
}

.room-title {

    font-size: 25px;
    padding: 10px 0;
    text-align: center;
    color: white;
    margin-top: 20px;
}

.resumo {
    padding: 20px 0;
    text-align: justify;
    font-weight: bold;
}

.room-price {
    padding: 20px 0;
    text-align: justify;
    color: white;
}

.footer {
    background-color: #3b29298f;
    /* Cor de fundo do rodapé */
    color: #fff;
    /* Cor do texto */
    padding: 20px 0;
    /* Espaçamento interno */
    text-align: center;
    /* Alinhamento do texto */
    bottom: 0;
    /* Posição na parte inferior */
    border-top: 5px solid #e6e6e6;
    /* Borda superior */
    border-bottom: 5px solid #e6e6e6;
    /* Borda inferior */
}