<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quarto Individual</title>
  <link rel="icon" type="image/png" href="/utilites/imagens-hotel/Hflorido-rosa-preenchido.png">
  <link rel="stylesheet" href="/css/styles_quem-somos.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <%- include("navbar.ejs") %>


  <div>
    <H1> O que foi usado para criar esse site!!!</H1>
    <div class="texto">
      <h2>

        <h3>
          Tecnologias e Recursos Utilizados na Criação do Site Hotel Papper G4
        </h3>

        <p>
        <h4>Estrutura e Layout</h4>
        <h5>1. HTML5:</h5>
        - Utilizado para criar a estrutura básica do site, incluindo a organização dos elementos como navegação,
        formulários e conteúdo principal.
        - Utilização de tags semânticas como "nav, header, footer, form," entre outras, para melhorar a acessibilidade e
        SEO.</p>
        <p>
        <h5> 2. **CSS3**:</h5>
        - Utilizado para estilizar o site, definindo cores, fontes, tamanhos e espaçamento entre elementos.
        - Aplicação de Flexbox para a criação de layouts responsivos e alinhamento de elementos, especialmente para
        centralizar e justificar botões no formulário.
        - Implementação de gradientes e personalização de botões para harmonizar com a identidade visual do hotel.
        </p>
        <p>
        <h4>Design Responsivo</h4>
        <h5> **Bootstrap**:</h5>
        - Utilização do framework Bootstrap para facilitar a criação de um design responsivo e moderno.
        - Uso de classes de grid e componentes pré-estilizados como navbars, formulários e carrosséis para garantir uma
        aparência consistente em diferentes dispositivos.
        </p>

        <P>
        <h4> Funcionalidades e Interatividade</h4>
        <H5> 1. **JavaScript**:</H5>
        - Adição de interatividade no site, como a simulação de envio de formulários e exibição de mensagens de
        confirmação.
        - Uso de eventos para capturar e processar dados de formulários, incluindo a exibição de resultados de busca.
        </P>

        <h4>Backend e Banco de Dados</h4>
        <h5>1. Node.js:</h5>
        - Utilizado como ambiente de execução do lado do servidor, permitindo a construção de aplicações web escaláveis e de alto desempenho.
        - Baseado no motor V8 do Google Chrome, o Node.js utiliza JavaScript como linguagem de programação, unificando o desenvolvimento frontend e backend.
        - Possui um ecossistema vasto de bibliotecas e frameworks que facilitam o desenvolvimento, como Express.js para criação de APIs RESTful.

        <h5>2. MongoDB:</h5>
        - Banco de dados NoSQL utilizado para armazenar e gerenciar os dados do site.
        - Modelo de documento flexível permite a representação dos dados de forma hierárquica, facilitando a manipulação de informações complexas.
        - Escalabilidade horizontal nativa, possibilitando o gerenciamento eficiente de grandes volumes de dados e a distribuição em clusters.

        <h5>3. Arquitetura MVC (Model-View-Controller):</h5>
        - Modelo arquitetural utilizado para organizar o código-fonte da aplicação, promovendo a separação de responsabilidades e a modularidade.
        - Model (Modelo): Responsável pela lógica de negócio e interação com o banco de dados, representando os dados da aplicação.
        - View (Visão): Camada responsável pela apresentação dos dados ao usuário, exibindo a interface gráfica e interagindo com o usuário.
        - Controller (Controlador): Responsável por intermediar as requisições do usuário, manipulando os dados do modelo e atualizando a visão correspondente.

        <h2> Conclusão</h2>
        Com a combinação dessas tecnologias, foi possível criar um site funcional e visualmente atraente para o Hotel
        Papper G4, proporcionando uma experiência de usuário agradável e intuitiva para reservas e pesquisas. O uso de
        HTML, CSS, JavaScript, Bootstrap, Node.js, MongoDB e a arquitetura MVC permitiu a criação de um site dinâmico, responsivo, eficiente e com um backend robusto. 
      </h2>
    </div>
  </div>


  <div class="container">
    <a href="/home" class="btn btn-primary btn-back mt-5">Voltar</a>
  </div>

  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Hotel Papper G4. Todos os direitos reservados.</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>